body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #aaa;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
}

.box {
    background-color: #fff;
    &~.box {
        margin-top: 8px;
    }
}