header {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #000;
    background-color: #fff;
    margin-bottom: 8px;
}
footer {
    margin-top: 8px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #000;
    background-color: #fff;
}